<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686719943154-flpputhhqhl3qik9j3719ubg0nd32kph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686719943154-flpputhhqhl3qik9j3719ubg0nd32kph</string>
	<key>API_KEY</key>
	<string>AIzaSyDG84Tk1HuQ4cA9ISl4kMtLTJ4uAdNZZgg</string>
	<key>GCM_SENDER_ID</key>
	<string>686719943154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biz.michaelgruber.HabitHero-V1</string>
	<key>PROJECT_ID</key>
	<string>habit-hero-46b17</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-hero-46b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686719943154:ios:90affc81ac9499067aab6b</string>
</dict>
</plist>